{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Yasin Rahmanian</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0ط÷iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">    
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/mann.jpg' %}" >
                    <hr>
                    <h4>Hi, I'm Yasin!</h4>
                    <p>I'm just starting my journey into coding, and I'm eager to learn more about programming.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>My First Steps into Development</h4>
                    <hr>
                    <p>I recently embarked on my coding journey, motivated by the desire to build and create new things. I started with basic programming concepts and am eager to explore more complex projects.</p>

                    <p>While I'm still a beginner, I'm excited to take on challenges and learn new skills along the way.</p>

                    <ul class="social-links">
                        <li><a href = "https://t.me/merelyjoly"><img class="social" src="{% static 'images/telegram.png' %}"></a></li>
                        <li><a href = "https://github.com/Theycallmejoly?tab=repositories"><img class="social" src="{% static 'images/github.jpg' %}"></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Current Skills</h5>
                    <hr>
                    <p>As a beginner programmer, I'm currently learning the basics of programming languages such as Python, HTML, javascript and CSS. I'm also exploring fundamental concepts in software development and computer science.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Learning Journey</h5>
                    <hr>
                    <p>I'm excited to dive deeper into coding and develop my skills further. I'm exploring online resources, tutorials, and beginner-friendly projects to enhance my understanding of programming.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Goals</h5>
                    <hr>
                    <p>My short-term goal is to build a solid foundation in programming and gain hands-on experience through personal projects. In the long term, I aspire to pursue a career in software development and contribute to innovative technological solutions.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Inspirations</h5>
                    <hr>
                    <p>I'm inspired by the possibilities that coding offers and the impact it can have on shaping the future. I'm motivated to learn and grow as a programmer, fueled by my passion for problem-solving and creativity.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>
